:root {
    --main: rgb(0 255 20);
    --primaryary: #EBFFFA;
    --secondary: #EBFFFA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    transition: all .4s;
    font-size: 14px;
    color: #000;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.header {
    padding: 20px 0;
    background: #000;
    -webkit-box-shadow: -2px 8px 7px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 8px 7px 1px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 8px 7px 1px rgba(0, 0, 0, 0.2);
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item img {
    cursor: pointer;
}

.social-icons ion-icon {
    font-size: 20px;
    margin-left: 15px;
    border: 1px solid yellow;
    padding: 7px;
    border-radius: 50%;
    color: yellow;
    cursor: pointer;
}

.social-icons ion-icon:hover {
    transform: translateY(-6px);
    transition: all 0.4s ease;
}

.call-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    font-size: 14px;
    padding: 9px 16px;
    cursor: pointer;
    border-radius: 10px;
    background: white;
    margin-left: 15px;
    font-weight: 600;
    border: 1px solid #fff;
    transition: .4s;
}

.call-btn:hover {
    border: 1px solid rgb(4, 0, 79);
    background: yellow;
    color: black;
    transform: scale(0.9);
}

.call-btn ion-icon {
    font-weight: bolder;
}

.main-info {
    cursor: pointer;
    margin-left: 15px;
}

.main-info h6 {
    font-size: 14px;
}

.main-info p {
    font-size: 10px;
}






/* Burger Menu List */
.burger-menu-list {
    position: absolute;
    width: 326px;
    height: auto;
    border-radius: 19px;
    top: -7px;
    right: 14px;
    background-image: linear-gradient(to top, #cc208eb8 0%, #6713d2f0 100%);
    color: white;
    z-index: 1;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

.burger-menu-list ul {
    padding: 45px;
}

.burger-menu-list ul li {
    display: flex;
    justify-content: center;
    /* margin: 40px 0 11px; */
    margin-bottom: 5px;
}

.burger-menu-list ul li a {
    color: white;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    font-weight: 600;
    padding: 6px;
    transition: .4s;
}

.burger-menu-list li a:hover {
    color: rgb(0, 0, 0);
    background: #efff00;
    border-radius: 14px;
}

.burger-menu-list.active {
    opacity: 1;
    pointer-events: all;
    z-index: 2;
}






/* Burger Styles */
.burger {
    height: 20px;
    width: 30px;
    position: relative;
    right: 12px;
    cursor: pointer;
    border: none;
    background: none;
    display: block;
    z-index: 2;
}

.burger-line {
    display: flex;
    width: 28px;
    height: 3px;
    border-radius: 32px;
    background: #ffffff;
    transition: 0.3s all ease;
}

.top-line {
    position: absolute;
    left: 0;
    top: 0;
}

.mid-line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.bottom-line {
    position: absolute;
    left: 0;
    bottom: 0;
}

.hidden {
    display: none;
}

.burger.active::after {
    background-color: rgb(255, 255, 255);
    padding: 19px;
    border-radius: 50%;
    display: block;
    content: "";
    position: absolute;
    top: -11px;
    right: 0px;
    z-index: -1;
}

.burger.active>.burger-line {
    display: flex;
    width: 23px;
    height: 3px;
    background: #ffffff;
    transition: 0.3s all ease;
}

.burger.active>.top-line {
    transform: translateY(8px) rotate(405deg);
    transition: 1s all ease;
    background: rgb(0, 0, 0);
}

.burger.active>.mid-line {
    opacity: 0;
    transition: 2s all ease;
}

.burger.active>.bottom-line {
    transform: translateY(-10px) rotate(-405deg);
    transition: 1s all ease;
    background: rgb(0, 0, 0);
}










/* Main section */
section.main {
    margin: 40px 0;
}

.main-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.swiper {
    width: 750px;
    height: auto;
    z-index: 1;
}

.main-swiper .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    padding: 22px 41px;
    color: white;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: start;
    align-items: start;
    text-align: start;
    cursor: pointer;
}

.main-swiper .swiper-slide.two {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.main-swiper .swiper-slide.three {
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
}

.main-swiper .swiper-slide img {
    display: block;
    width: 400px;
    height: 100%;
    object-fit: cover;
}

.main-swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px;
    background: white;
    font-weight: 600;
    padding: 8px 11px 8px 13px;
    color: blue;
    border-radius: 50%;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}



.swiper-pagination-bullet {
    width: 15px;
    border-radius: 50%;
    height: 15px;
    display: inline-block;
    background: #fff;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    width: 40px;
    border-radius: 10px;
    height: 15px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 5px;
    left: auto;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 5px;
    right: auto;
}

.main-box {}

.slider-info h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.slider-info p {
    font-size: 18px;
    margin-bottom: 17px;
}

.price {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 28px;
}

.price h6 {
    text-decoration: line-through;
    font-size: 20px;
}

.btn-slider {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 14px;
    background: rgb(255, 0, 0);
    background: linear-gradient(146deg, rgba(255, 0, 0, 1) 51%, rgba(130, 0, 0, 1) 100%);
    border-radius: 10px;
    cursor: pointer;
}

.btn-slider:hover {
    background: rgb(0, 0, 0);
    color: rgb(251, 255, 0);
}

.btn-slider-two {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 38px;
    background: rgb(136, 0, 139);
    background: linear-gradient(90deg, rgba(136, 0, 139, 1) 0%, rgba(111, 0, 112, 1) 43%, rgba(23, 116, 74, 1) 100%);
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 22px;
}

.btn-slider-two:hover {
    background: white;
    color: rgb(136, 0, 139);
}

.box-img {
    position: absolute;
    right: 71px;
    bottom: 33px;
}

.box-img img {
    max-width: 222px;
}

.box-img.two {
    right: 48px;
    bottom: -12px;
}

.box-img.two img {
    max-width: 290px;
}

.box-img.three {
    right: 28px;
    bottom: -55px;
}

.box-img.three img {
    max-width: 320px;
}




.main-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-basis: 36%;
    text-align: center;
    cursor: pointer;
}

.main-items .item {
    padding: 16px;
    background: rgb(255, 0, 170);
    background: linear-gradient(183deg, rgba(255, 0, 170, 1) 34%, rgba(202, 0, 229, 1) 77%);
    border-radius: 18px;
    width: 190px;
    color: white;
    transition: .4s;
}

.main-items .item:hover {
    transform: scale(0.9);
}

.main-items .item.two {
    background: rgb(0, 182, 255);
    background: linear-gradient(180deg, rgba(0, 182, 255, 1) 35%, rgba(0, 133, 212, 1) 84%);
}

.main-items .item.three {
    background: rgb(255, 163, 0);
    background: linear-gradient(180deg, rgba(255, 163, 0, 1) 35%, rgba(212, 135, 0, 1) 84%);
}

.main-items .item.four {
    background: rgb(0, 255, 195);
    background: linear-gradient(180deg, rgba(0, 255, 195, 1) 35%, rgba(0, 212, 98, 1) 84%);
}

.item.one div img,
.item.two div img,
.item.three div img,
.item.four div img {
    max-width: 82px;
}

.item h4 {
    font-size: 16px;
    color: black;
    background: white;
    border-radius: 7px;
    padding: 6px;
    margin-bottom: 14px;
}

.btn-main a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: 9px;
    display: block;
}